---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Hypervisors:
    - vmr:
        icon: proxmox.png
        description: Proxmox on mini pc
        href: https://vmr.granovskydev.ru:8006
        widget:
          type: proxmox
          url: https://vmr.granovskydev.ru:8006
          username: {{HOMEPAGE_VAR_VMR_USER}}
          password: {{HOMEPAGE_VAR_VMR_TOKEN}}

    - vt:
        icon: proxmox.png
        description: Proxmox on tower pc
        href: https://vt.granovskydev.ru:8006
        widget:
          type: proxmox
          url: https://vt.granovskydev.ru:8006
          username: {{HOMEPAGE_VAR_VT_USER}}
          password: {{HOMEPAGE_VAR_VT_TOKEN}}

- Network:
    - OPNsense:
        href: https://router.granovskydev.ru
        description: Gateaway to lucid cosmic ocean
        widget:
          type: opnsense
          url: https://router.granovskydev.ru
          username: {{HOMEPAGE_VAR_GATE_USER}}
          password: {{HOMEPAGE_VAR_GATE_PASSWORD}}

- Other stuff:
    - 3D printer:
        href: http://printer.granovskydev.ru/
        description: PRINT SMTH NOW! (currently broken, fuck neptune)
